body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Raleway", sans-serif;
  color: #32363a;
  background-color: white;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
}

.content_section {
  padding: 1rem 3rem;
  width: auto;
}

@media screen and (max-width: 480px) {
  body {
    background-color: lightgreen;
  }
  .content_section {
    padding: 1rem 1rem;
  }
}
