.sticky_footer {
  width: 100%;
  height: 30px;
  margin-top: -30px;
  background-color: #6e5773;
  color: white;
  position: absolute;
  display: flex;
  align-items: center;
}

.sticky_footer__comment {
  padding: 0 2rem;
  font-family: "Raleway", sans-serif;
}
