.featured_projects__contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.featured_project__img_bg {
  min-width: 250px;
  min-height: 250px;
  width: 25vw;
  height: 25vw;
  /* width: 200px;
  height: 200px; */
  background-color: black;
  border-radius: 6px;
  background-size: cover;
  transition: opacity 300ms ease-in-out;
}

.featured_project:hover .featured_project__img_bg {
  opacity: 0.3;
}

.featured_project__title {
  color: #32363a;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  position: relative;
  margin: 15px;
  top: -30px;
}

.featured_project:hover .featured_project__title {
  opacity: 1;
}

.featured_projects__footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 480px) {
  .featured_project__img_bg {
    position: relative;
    width: 90vw;
    height: auto;
  }

  /* make sure image is always square */
  .featured_project__img_bg:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}
